<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>webb0x - {{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/animate.css") }}">
    </head>
    <body>
        <div class="container">
            <div class="signin pull-right ajax">
                <a href="/">home</a> |
                <a href="https://0x6f0.ejank.com/contact.html">contact</a> | 
                {% if user %}
                <a href="/account">my account</a>
                {% else %}
                <a href="/login?next={{ next_url }}">signin</a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div class="header">
                <div class="site-title">
                    <h1>webb0x - {{ title }}</h1>
                </div>
            </div>
            
            <div id="container" class="row">
                <div class="col-1">
                    {% if msg %}
                    <div class="alert alert-{{alert_level}}">{{ msg|safe }}</div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>

                <div class="col-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">
                            {% if lvl_auth %}
                                Your Info
                            {% else %}
                                Login
                            {% endif %}
                            </span>
                        </div>
                        <div class="panel-body">
                        {% if lvl_auth %}
                            Hello, {{ user }}
                            {% if msg %}
                            <hr/>
                            {{ msg|safe }}
                            {% endif %}
                        {% else %}
                            <form action="/login" method="post">
                                <input class="form-control" type="text" name="username" placeholder="username">
                                <input class="form-control" type="password" name="pw" placeholder="password">
                                <input type="hidden" name="next" value="{{ next_url }}">
                                <input class="btn pull-right" type="submit" value="Login">
                            </form>
                            <div class="clearfix"></div>
                        {% endif %}
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Help
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>The usernames will be in the format webXX, where XX
                            corresponds with the level you are on.</p>
                            <p><a href="./!#">Give me a hint, please</a></p>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="row">
                <div class="footer">
                    <p>webb0x is a free, opensource and legal way to test your web hacking skills. It's been said that potential mates really dig things like that.
                    <!--at finding and exploiting vulnerabilities in websites. --></p>
                    <div class="pull-right">
                        &copy; 2017 webb0x by <a href="https://0x6f0.ejank.com/">0x6f0</a> | <a href="https://0x6f0.ejank.com/contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>