<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Log into webb0x</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/animate.css") }}">
    <style type="text/css">
        .panel {
            margin: 0 auto;
            margin-top: 100px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
            Login
            </span>
        </div>
        <div class="panel-body">
            <form action="login" class="login-form" method="POST">
                <input type="text" class="form-control" name="username" id="username" placeholder="username"/>
                <input type="password" class="form-control" name="pw" id="pw" placeholder="password"/>
                <input type="hidden" name="next" value="{{ next_url }}">
                <input type="submit" class="btn pull-right" name="submit" value="Sign in" />
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</body>
</html>