{% extends "base.html" %}

{% block content %}
<p>Welcome to level 03. The admin of this site is much more serious about security. The password for this level would be too hard to guess and brute forcing wouldn't be good option either. </p>

<p>From reading the documentation for the software that is used for this site we have found that it uses a cookie named 'user_token'. This is set by the single sign on (SSO) application that is used for authentication for the website. From the documentation we know that the token is created using the following parameters (username, language code (iso format), date in "YYYY-MM-DD" format) and then it's encoded using base64.</p>

<p>Using this information we need to find a way to make it past the authentication process.</p>
{% endblock %}


{% block scripts %}{% endblock %}